#my-nav-bar{
  padding: 10px;
  display: flex;
  height: 70px;
  align-items: center;
  overflow: no-content;
  justify-content: space-between;
  /*background-color: #8078bf;*/
  /*color: whitesmoke;*/
  /*background-color: Var(--site-navigation-bar);*/
  background-color: #fff;
  /*color: Var(--site-font-white);*/
  color: Var(--blue);
  position: fixed;
}

#my-nav-bar-site-title{
  margin-left: 15px;
  font-size: 32px;
}

#user-menu-div{
  /*border-radius: 50%;*/
  margin-right: 20px;
}

#user-menu-div:hover{
  cursor: pointer;
}

#user-menu-div-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
